
				.AnTIrESPOnsIVE {

					border:4px solid blue;
					overflow:hidden;
	
					
				}
				.AnTIrESPOnsIVE * {
					border: 2px solid green;
					padding: 0.5rem;
					overflow-wrap: break-word;
					word-wrap: break-word;
									display: flex;
									width: 90%;
									max-width:90%;
								}


.AnTIrESPOnsIVE input {

height: 2rem;
background:gray;
}
@media only screen and (min-width: 0px) {
		.AnTIrESPOnsIVE {
				width: 3000px;
				overflow-x: scroll;
				overflow-y: hidden;
				font-size: 5rem;
				background-color: red;
				display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-content: stretch;
					align-items: stretch;

			}
}



@media only screen and (min-width: 768px) {
	.AnTIrESPOnsIVE {
		width: 200px;
		flex-wrap: wrap;
		overflow-x: hidden;
		overflow-y: scroll;
		font-size: 0.5rem;
		background-color: blueviolet;
		flex-direction: column;
	}
}

